# Build folders
build/
build-*/
**/build/

# Compiled files
*.o
*.obj
*.so
*.dylib
*.dll
*.lib
*.a
*.exe
*.geode

# IDE / editor
.vscode/
.idea/
.vs/
.history/
.cache/
cmake-build-*/

# OS files
.DS_Store
